build/
bin/

tags
src/tags
.vimrc

boxes/*.tar.gz
boxes/*.deb

*.sw[mnopq]
*~
pin.log
*.xml

*.tar.gz

// Various pycharm test related outputs
*.log
*.pyc
.idea
.cache
__pycache__

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/sio2jail/
obj-*/
ccache/
install/
obj-x86*
out/

.vscode/
.devcontainer/