#!/usr/bin/make -f

#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --buildsystem=cmake

CCACHE := $(shell ccache --version 2>/dev/null)

ifdef CCACHE
	CC := ccache
endif

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DLINK=DYNAMIC -DLIBSECCOMP_BUILD_OWN=NO -DLIBSECCOMP_PREFIX=/usr/lib/x86_64-linux-gnu -DARCH=$(DEB_TARGET_ARCH) -DCMAKE_CXX_COMPILER_LAUNCHER=$(CC)

override_dh_auto_test:
	echo Tests skipped
